{% extends "layouts/base_employee.html" %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



<div class="modal fade" id="updateMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Updated successfully</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <P>Information was successfully updated</P>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"  style="background-color: orange;color:white">Ok</button>
        
      </div>
    </div>
  </div>
</div>


          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Edit Profile</h4>
                  <p class="card-category">Complete your profile</p>
                </div>
                <div class="card-body">
                  <form id="updateform">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Fist Name</label>
                          <input type="text" name="name" value="{{employee.name}}" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Last Name</label>
                          <input type="text" name="surname" value="{{employee.surname}}" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email address</label>
                          <input type="email" name="email" class="form-control" value="{{employee.email}}">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Phone</label>
                          <input type="text" name="phone" class="form-control" value="{{employee.phone}}">
                        </div>
                      </div>
                    </div>
                   
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Address</label>
                          <input type="text" name="address" value="{{employee.address}}"  class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Postal Code</label>
                          <input type="text" name="zipCode" value="{{employee.zipCode}}" class="form-control">
                        </div>
                      </div>
                    </div>
                    
                      <input type="text" hidden name="employeeNumber" value="{{employee.employeeNumber}}" class="form-control"  placeholder="Employee Number">
                  
             
                    <input hidden type="text" name="id" value="{{employee.id}}" class="form-control" >
                 
                    <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="/static/assets/img/faces/marc.jpg" />
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray">
                    {{ employee.employeeNumber }}
                  </h6>
                
                </div>
              </div>
            </div>
          </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  
var form = document.getElementById('updateform')
    form.addEventListener('submit', function(e){
        e.preventDefault()
        alert('form Submited')
        submitFormData();
      
    })

    function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getToken('csrftoken')   
    //add  employee

    function submitFormData(){
        var itemData = {
            'user':null,
            'name':null,
            'surname':null,
            'phone':null,
            'email':null,
            'address':null,
            'zipCode':null,
            'employeeNumber':null
        }

        var userData = {
            'username':null,
            'email':null,
            'password':null,
        }
    
        userData.username = form.name.value
        userData.email = form.email.value
        userData.password = '1234567'
        //end user information to the user 


        //itemData.user = userData
        itemData.name = form.name.value
        itemData.phone = form.phone.value
        itemData.email = form.email.value
        itemData.address = form.address.value
        itemData.surname = form.surname.value
        itemData.zipCode = form.zipCode.value
        itemData.employeeNumber = form.employeeNumber.value
        
        var id =  form.id.value
        
        var URL = "/employee/"+id+"/";

        var dataObject = itemData;

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


        $.ajax({
            url: URL,
            type: 'PUT',    
            data: JSON.stringify(dataObject),
            contentType : 'application/json',
            success: function(result) {
              $('#updateMessage').modal('show')
              $('#updateMessage').on('hidden.bs.modal', function (e) {
                
                location.reload()
                })

              
            }
        });
    }


</script>



{% endblock javascripts %}
